<div{{ attributes }}>
    <h2>{{ login_title}}</h2>
    <p>{{ login_description }}</p>
    <div class="usa-logo">
        {{ login_logo }}
    </div>
    {% if login_button_text %}
        <a href="{{ login_url_path }}" class="button usa-button">{{ login_button_text}}</a>
    {% endif %}
</div>